html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
#app {
  width: 100%;
  height: 100%;
  /* position: relative; */
  background-image: url('./back.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}
/* #app::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./back.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
} */